<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "SocialRecycle", '#', id: "logo" %>
    </div>
    <nav id="topmenu">
      <ul class="nav pull-right navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>

  </div>
</header>